<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
    <style type="text/css">
        <!--
        span.cls_002{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
        div.cls_002{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
        span.cls_003{font-family:Arial,serif;font-size:10.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
        div.cls_003{font-family:Arial,serif;font-size:10.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
        span.cls_004{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
        div.cls_004{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
        span.cls_005{font-family:Arial,serif;font-size:14.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
        div.cls_005{font-family:Arial,serif;font-size:14.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
        span.cls_006{font-family:Arial,serif;font-size:14.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
        div.cls_006{font-family:Arial,serif;font-size:14.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
        span.cls_007{font-family:Arial,serif;font-size:14.1px;color:rgb(33,33,33);font-weight:normal;font-style:normal;text-decoration: none}
        div.cls_007{font-family:Arial,serif;font-size:14.1px;color:rgb(33,33,33);font-weight:normal;font-style:normal;text-decoration: none}
        span.cls_008{font-family:Arial,serif;font-size:14.1px;color:rgb(33,33,33);font-weight:bold;font-style:normal;text-decoration: none}
        div.cls_008{font-family:Arial,serif;font-size:14.1px;color:rgb(33,33,33);font-weight:bold;font-style:normal;text-decoration: none}
        -->
    </style>
    <script type="text/javascript" src="187a535a-131d-11e8-b174-0cc47a792c0a_id_187a535a-131d-11e8-b174-0cc47a792c0a_files/wz_jsgraphics.js"></script>
</head>
<body>
<div style="position:absolute;left:50%;margin-left:-297px;top:0px;width:595px;height:842px;overflow:hidden">
    <div style="position:absolute;left:0px;top:0px">
        <img src="./themes/custom/dct_theme/images/logos/association.jpg" width=595 height=842></div>
    <div style="position:absolute;left:59.60px;top:58.60px" class="cls_002"><span class="cls_002">{{ "Drupal Association Romania"|t }}</span></div>
    <div style="position:absolute;left:370.10px;top:58.70px" class="cls_002"><span class="cls_002">{{ given_name }} {{ family_name }}</span></div>
    <div style="position:absolute;left:59.60px;top:72.80px" class="cls_003"><span class="cls_003">{{ "Fiscal code: 26441604"|t }}</span></div>
    <div style="position:absolute;left:370.10px;top:72.50px" class="cls_004"><span class="cls_004">{{ city }}, County, {{ country }}</span></div>
    <div style="position:absolute;left:59.60px;top:84.40px" class="cls_003"><span class="cls_003">{{ "310249 Arad, Romania"|t }}</span></div>
    <div style="position:absolute;left:370.10px;top:86.30px" class="cls_004"><span class="cls_004">{{ address }}</span></div>
    <div style="position:absolute;left:59.60px;top:96.10px" class="cls_003"><span class="cls_003">{{ "str. Tabacovici 72"|t }}</span></div>
    <div style="position:absolute;left:370.10px;top:100.10px" class="cls_004"><span class="cls_004">{{ phone }}</span></div>
    <div style="position:absolute;left:59.60px;top:107.70px" class="cls_003"><span class="cls_003">{{ "Intesa Sanpaolo SPA Torino"|t }}</span></div>
    <div style="position:absolute;left:370.10px;top:113.90px" class="cls_004"><span class="cls_004">{{ company }}</span></div>
    <div style="position:absolute;left:59.60px;top:119.40px" class="cls_003"><span class="cls_003">{{ "Bucharest Branch (Arad Agency)"|t }}</span></div>
    <div style="position:absolute;left:59.60px;top:131.00px" class="cls_003"><span class="cls_003">{{ "IBAN: RO09BITRAR1EUR034897CC01"|t }}</span></div>
    <div style="position:absolute;left:370.10px;top:127.70px" class="cls_004"><span class="cls_004">{{ tax_no }}</span></div>
    <div style="position:absolute;left:59.60px;top:142.70px" class="cls_003"><span class="cls_003">{{ "SWIFT: BITRROBU" }}</span></div>
    <div style="position:absolute;left:370.10px;top:141.50px" class="cls_004"><span class="cls_004">{{ company_no }}</span></div>
    <div style="position:absolute;left:370.10px;top:155.30px" class="cls_004"><span class="cls_004">{{ bank }}</span></div>
    <div style="position:absolute;left:370.10px;top:169.10px" class="cls_004"><span class="cls_004">{{ account_no }}</span></div>
    <div style="position:absolute;left:269.00px;top:322.30px" class="cls_005"><span class="cls_005">{{ "INVOICE"|t }}</span></div>
    <div style="position:absolute;left:186.50px;top:352.30px" class="cls_006"><span class="cls_006">{{ "INV.ADR.C no"|t }} </span><span class="cls_005">{{ inv_no }}</span><span class="cls_006"> {{ "date"|t }} </span><span class="cls_005">{{ current_date }}</span></div>
    <div style="position:absolute;left:74.80px;top:379.10px" class="cls_005"><span class="cls_005">{{ "No"|t }}</span></div>
    <div style="position:absolute;left:145.30px;top:379.10px" class="cls_005"><span class="cls_005">{{ "Product/Service"|t }}</span></div>
    <div style="position:absolute;left:300.90px;top:379.10px" class="cls_005"><span class="cls_005">{{ "Unit Price"|t }}</span></div>
    <div style="position:absolute;left:392.70px;top:379.10px" class="cls_005"><span class="cls_005">{{ "Amount"|t }}</span></div>
    <div style="position:absolute;left:479.20px;top:379.10px" class="cls_005"><span class="cls_005">{{ "Total"|t }}</span></div>
    <div style="position:absolute;left:123.40px;top:402.30px" class="cls_003"><span class="cls_003">{{ ticket_title_1 }}</span></div>
    <div style="position:absolute;left:82.20px;top:402.30px" class="cls_006"><span class="cls_006">1</span></div>
    <div style="position:absolute;left:296.90px;top:402.00px" class="cls_006"><span class="cls_006">{{ unit_price }}</div>
    <div style="position:absolute;left:415.20px;top:402.30px" class="cls_006"><span class="cls_006">{{ quantity }}</span></div>
    <div style="position:absolute;left:457.80px;top:402.30px" class="cls_006"><span class="cls_006">{{ total_item_price }}</span></div>
    <div style="position:absolute;left:138.70px;top:413.90px" class="cls_003"><span class="cls_003">{{ ticket_title_2 }}</span></div>
    <div style="position:absolute;left:62.80px;top:460.50px" class="cls_005"><span class="cls_005">TOTAL</span></div>
    <div style="position:absolute;left:457.80px;top:460.50px" class="cls_005"><span class="cls_005">{{ total_price }}</div>
    <div style="position:absolute;left:186.80px;top:527.20px" class="cls_005"><span class="cls_005">{{ "Drupal Association Romania"|t }}</span></div>
    <div style="position:absolute;left:85.70px;top:755.70px" class="cls_003"><span class="cls_003">{{ "Signing and stamping of invoices is not a mandatory part of the invoice according to" }}</span></div>
    <div style="position:absolute;left:159.20px;top:767.40px" class="cls_003"><span class="cls_003">{{ "Law 227/2015, regarding the Fiscal Code, art. 319 (29)." }}</span></div>
</div>

</body>
</html>