<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
    <style type="text/css">
        <!--
        span.cls_002{font-family:"Arial",serif;font-size:10.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
        div.cls_002{font-family:"Arial",serif;font-size:10.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
        span.cls_003{font-family:"Arial",serif;font-size:10.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
        div.cls_003{font-family:"Arial",serif;font-size:10.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
        span.cls_004{font-family:"Arial",serif;font-size:10.1px;color:rgb(33,33,33);font-weight:normal;font-style:normal;text-decoration: none}
        div.cls_004{font-family:"Arial",serif;font-size:10.1px;color:rgb(33,33,33);font-weight:normal;font-style:normal;text-decoration: none}
        span.cls_005{font-family:"Arial",serif;font-size:14.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
        div.cls_005{font-family:"Arial",serif;font-size:14.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
        span.cls_006{font-family:"Arial",serif;font-size:14.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
        div.cls_006{font-family:"Arial",serif;font-size:14.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
        span.cls_007{font-family:"Arial",serif;font-size:14.1px;color:rgb(33,33,33);font-weight:normal;font-style:normal;text-decoration: none}
        div.cls_007{font-family:"Arial",serif;font-size:14.1px;color:rgb(33,33,33);font-weight:normal;font-style:normal;text-decoration: none}
        span.cls_008{font-family:"Arial",serif;font-size:14.1px;color:rgb(33,33,33);font-weight:bold;font-style:normal;text-decoration: none}
        div.cls_008{font-family:"Arial",serif;font-size:14.1px;color:rgb(33,33,33);font-weight:bold;font-style:normal;text-decoration: none}
        -->
    </style>
    <script type="text/javascript" src="9b356d28-1ad6-11e8-b174-0cc47a792c0a_id_9b356d28-1ad6-11e8-b174-0cc47a792c0a_files/wz_jsgraphics.js"></script>
</head>
<body>
<div style="position:absolute;left:50%;margin-left:-297px;top:0px;width:595px;height:842px;border-style:outset;overflow:hidden">
    <div style="position:absolute;left:0px;top:0px">
        <img src="./themes/custom/dct_theme/images/logos/association.jpg" width=595 height=842></div>
    <div style="position:absolute;left:59.60px;top:58.90px" class="cls_002"><span class="cls_002">{{ "Drupal Association Romania"|t }}</span></div>
    <div style="position:absolute;left:370.10px;top:58.90px" class="cls_002"><span class="cls_002">{{ given_name }} {{ family_name }}</span></div>
    <div style="position:absolute;left:59.60px;top:70.50px" class="cls_003"><span class="cls_003">{{ "Fiscal code: 26441604"|t }}</span></div>
    <div style="position:absolute;left:370.10px;top:70.60px" class="cls_002"><span class="cls_002">{{ company }}</span></div>
    <div style="position:absolute;left:59.60px;top:82.20px" class="cls_003"><span class="cls_003">{{ "310249 Arad, Romania"|t }}</span></div>
    <div style="position:absolute;left:370.10px;top:82.30px" class="cls_003"><span class="cls_003">{{ "Fiscal code: " }}{{ tax_no }}</span></div>
    <div style="position:absolute;left:59.60px;top:93.80px" class="cls_003"><span class="cls_003">{{ "str. Tabacovici 72"|t }}</span></div>
    <div style="position:absolute;left:370.10px;top:93.90px" class="cls_004"><span class="cls_004">{{ "Commercial register:" }}</span></div>
    <div style="position:absolute;left:59.60px;top:105.50px" class="cls_003"><span class="cls_003">{{ "Intesa Sanpaolo SPA Torino"|t }}</span></div>
    <div style="position:absolute;left:370.10px;top:105.60px" class="cls_004"><span class="cls_004">{{ company_no }}</span></div>
    <div style="position:absolute;left:59.60px;top:117.10px" class="cls_003"><span class="cls_003">{{ "Bucharest Branch (Arad Agency)"|t }}</span></div>
    <div style="position:absolute;left:370.10px;top:117.20px" class="cls_003"><span class="cls_003">{{ city }}, County, {{ country }}</span></div>
    <div style="position:absolute;left:59.60px;top:128.80px" class="cls_003"><span class="cls_003">{{ "IBAN: RO09BITRAR1EUR034897CC01"|t }}</span></div>
    <div style="position:absolute;left:370.10px;top:128.90px" class="cls_003"><span class="cls_003">{{ address }}</span></div>
    <div style="position:absolute;left:59.60px;top:140.40px" class="cls_003"><span class="cls_003">{{ "SWIFT: BITRROBU" }}</span></div>
    <div style="position:absolute;left:370.10px;top:140.50px" class="cls_003"><span class="cls_003">{{ "Phone: "|t }}{{ phone }}</span></div>
    <div style="position:absolute;left:370.10px;top:152.20px" class="cls_003"><span class="cls_003">{{ bank }}</span></div>
    <div style="position:absolute;left:370.10px;top:175.50px" class="cls_003"><span class="cls_003">{{ "IBAN: " }}</span><span class="cls_004">{{ account_no }}</span></div>
    <div style="position:absolute;left:270.90px;top:323.80px" class="cls_005"><span class="cls_005">{{ "INVOICE"|t }}</span></div>
    <div style="position:absolute;left:190.40px;top:352.20px" class="cls_006"><span class="cls_006">{{ "INV.ADR.C no"|t }} </span><span class="cls_005">{{ inv_no }}</span><span class="cls_006"> {{ "date"|t }} </span><span class="cls_005">{{ current_date }}</span></div>
    <div style="position:absolute;left:72.60px;top:377.50px" class="cls_005"><span class="cls_005">{{  "No"|t }}</span></div>
    <div style="position:absolute;left:136.30px;top:377.50px" class="cls_005"><span class="cls_005">{{ "Product/Service"|t }}</span></div>
    <div style="position:absolute;left:293.70px;top:377.50px" class="cls_005"><span class="cls_005">{{ "Unit Price"|t }}</span></div>
    <div style="position:absolute;left:388.20px;top:377.50px" class="cls_005"><span class="cls_005">{{ "Amount"|t }}</span></div>
    <div style="position:absolute;left:476.50px;top:377.50px" class="cls_005"><span class="cls_005">{{ "Total"|t }}</span></div>
    <div style="position:absolute;left:121.40px;top:399.60px" class="cls_003"><span class="cls_003">{{ ticket_title_1 }}</span></div>
    <div style="position:absolute;left:81.60px;top:399.30px" class="cls_006"><span class="cls_006">1</span></div>
    <div style="position:absolute;left:295.00px;top:399.30px" class="cls_006"><span class="cls_006">{{ unit_price }}</div>
    <div style="position:absolute;left:414.60px;top:399.30px" class="cls_006"><span class="cls_006">{{ quantity }}</span></div>
    <div style="position:absolute;left:457.40px;top:399.30px" class="cls_006"><span class="cls_006">{{ total_item_price }}</span></div>
    <div style="position:absolute;left:121.40px;top:411.30px" class="cls_003"><span class="cls_003">{{ ticket_title_2 }}</span></div>
    <div style="position:absolute;left:121.40px;top:422.90px" class="cls_003"><span class="cls_003">{{ ticket_title_3 }}</span></div>
    <div style="position:absolute;left:59.60px;top:456.30px" class="cls_005"><span class="cls_005">{{ "TOTAL"|t }}</span></div>
    <div style="position:absolute;left:474.00px;top:456.30px" class="cls_008"><span class="cls_008">{{ total_price }}</span></div>
    <div style="position:absolute;left:221.80px;top:527.20px" class="cls_005"><span class="cls_005">{{ "Drupal Association Romania"|t }}</span></div>
    <div style="position:absolute;left:85.70px;top:755.70px" class="cls_003"><span class="cls_003">{{ "Signing and stamping of invoices is not a mandatory part of the invoice according to" }}</span></div>
    <div style="position:absolute;left:159.20px;top:767.40px" class="cls_003"><span class="cls_003">{{ "Law 227/2015, regarding the Fiscal Code, art. 319 (29)." }}</span></div>
</div>

</body>
</html>