<div>
  <img src="/{{ directory }}/images/backgrounds/small-header.png" alt="background">
</div>

<div class="my-profile">
  <div class="my-profile-info">
    <div class="my-profile-info--fullname">
      <h2>{{ "Login required" }}</h2>
    </div>
    <div class="my-profile-info--bio">
      <p>{{ "You need to login in order to access this page. If you don't have an account, you need to register first." }}</p>
    </div>
    <div class="confirmation-link">
      <a class="button-left" href="{{ links.login }}">{{ "Login"|t }}</a>
      <a class="button-right" href="{{ links.register }}">{{ "Register"|t }}</a>
    </div>
  </div>
</div>
