{{ attach_library('dct_theme/schedule') }}
<div>
  <img src="/{{ directory }}/images/backgrounds/small-header.png"
       alt="background">
</div>

<div class="session-schedule-content">
  <div class="large-title-block title">
    <h2>{{ "Schedule"|t }}</h2>
  </div>
  <div class="homepage-spread-word">
    <div class="l-container">
      <div class="homepage-spread-word--intro large-title-block">
        <h2>{{ "Monday 8:00 to Friday 23:59 contributions"|t }}</h2>
        {{ "Room: Roma<br><br>"|t }}
        {{ 'Sign up to be a mentor/contribute: <a hfref="http://bit.ly/DDD2019Contrib">http://bit.ly/DDD2019Contrib</a>'|t }}
      </div>
    </div>
  </div>
  <div class="homepage-spread-word">
    <div class="l-container">
      <div class="homepage-spread-word--intro large-title-block">
        <h2>{{ "Monday 10:00 to Friday 18:30 BOFs"|t }}</h2>
        {{ "Room: Diplomat <br><br>"|t }}
        <a href="http://bit.ly/ddd2019-bofs" target="_blank">{{ 'Reserve for a Bof'|t }}</a>
      </div>
    </div>
  </div>
  {% if logged_in %}
    <div class="schedule-legend"><p>{{ "You can add sessions to" }} <a
          href="{{ path('dct_schedule.my_schedule') }}">{{ "your schedule"|t }}</a> {{ 'by clicking on "+" sign.' }}</p>
    </div>
  {% else %}
    <div class="schedule-legend"><p><a
          href="{{ path('user.login') }}">{{ "Login"|t }}</a> {{ 'in order to add sessions to your schedule.' }}</p>
    </div>
  {% endif %}
  <div class="scheduler-container">
    <div class="day-tabs-container">
      {% for name, day in days %}
        {% if loop.first %}
          {% set classes = 'active-tab' %}
        {% else %}
          {% set classes = '' %}
        {% endif %}
        <div class="day-tab {{ classes }}" data-tab="{{ name }}">{{ day }}</div>
      {% endfor %}
    </div>
    <div class="mobile-room-slider">
      {% for room in rooms %}
        <div class="mobile-room-slider--item">{{ room['name'] }}{{ " room"|t }}</div>
      {% endfor %}
    </div>
    {% for name, day in sessions %}
      {% if loop.first %}
        {% set classes = 'active-tab-content' %}
      {% else %}
        {% set classes = '' %}
      {% endif %}
      <div class="day-tab-content {{ classes }}" id="{{ name }}">
        <div class="day-schedule">
          {% if day is empty %}
            <div class="conference-opening">
              <div>
                <p>{{ "The schedule is not published yet."|t }}</p>
              </div>
            </div>
          {% else %}
            {% for room in day %}
              {% if loop.first %}
                {% set classes = 'active-room' %}
              {% else %}
                {% set classes = '' %}
              {% endif %}
              <div class="room-schedule room-1 {{ classes }}">
                <h2>{{ rooms[loop.index-1]['name'] }} {{ " room"|t }}</h2>
                {% for session in room %}
                  {{ session }}
                {% endfor %}
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="schedule-legend"><p>
    </p>
    <p>{{ "*modifications to the schedule may happen!" }}</p>
  </div>
</div>
