{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
    <img src="/{{ directory }}/images/backgrounds/small-header.png" alt="background">
</div>
<div class="article-section form-article">
    <div class="l-container">
        <div class="title-container">
            <div class="large-title-block title">
                <h2>{{ "My Profile"|t }}</h2>
            </div>
        </div>
    </div>
</div>

<div class="form-general">
    <form{{ attributes.addClass(['contact-form']) }}>
        {{ children }}
    </form>
</div>
