{% if family_name is not empty %}
    <p style="text-align: center;">{{ given_name }} {{ family_name}}</p>
{% else %}
    <p style="text-align: center;">{{ given_name}}</p>
{% endif %}
<p style="text-align: center;"><strong>{{ role }}</strong></p>
{% if username is not empty %}
    <p style="text-align: center;">{{ username }}</p>
{% endif %}
{% if country is not empty %}
    <p style="text-align: center;">Romania&nbsp;</p>
{% endif %}
{% if shirt_size is not empty %}
    <p style="text-align: center;"><strong>Shirt:</strong> {{ shirt_type }}, {{ shirt_size }}</p>
{% endif %}
<p style="text-align: center;">Activated on {{ current_date }}</p>
<p style="text-align: center;">&nbsp;</p>