<div>
  <img src="/{{ directory }}/images/backgrounds/small-header.png" alt="background">
</div>
<div>
  <a href="{{ links.login }}">{{ "Login"|t }}</a>
</div>
<div>
  <a href="{{ links.register }}">{{ "Register"|t }}</a>
</div>
