{{ attach_library('dct_theme/schedule') }}
<div>
  <img src="/{{ directory }}/images/backgrounds/small-header.png"
       alt="background">
</div>

<div class="session-schedule-content">
  <div class="large-title-block title">
    <h2>{{ "My schedule"|t }}</h2>
  </div>
  <div class="scheduler-container">
    <div class="day-tabs-container">
      {% for name, day in days %}
        {% if loop.first %}
          {% set classes = 'active-tab' %}
        {% else %}
          {% set classes = '' %}
        {% endif %}
        <div class="day-tab {{ classes }}" data-tab="{{ name }}">{{ day }}</div>
      {% endfor %}
    </div>
    {% for name, day in sessions %}
      {% if loop.first %}
        {% set classes = 'active-tab-content' %}
      {% else %}
        {% set classes = '' %}
      {% endif %}
      <div class="day-tab-content {{ classes }}" id="{{ name }}">
        <div class="day-schedule">
          {% for session in day %}
            {{ session }}
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
