{{ attach_library('dct_theme/schedule') }}
<div>
  <img src="/{{ directory }}/images/backgrounds/small-header.png"
       alt="background">
</div>

<div class="session-schedule-content">
  <div class="large-title-block title">
    <h2>{{ "My schedule"|t }}</h2>
  </div>
  <div class="schedule-legend"><p>{{ "Visit" }} <a href="{{ path('dct_schedule.schedule') }}">{{ "the schedule"|t }}</a> {{ 'for other sessions' }}</p></div>
  <div class="scheduler-container my-schedule">
      <div class="day-tabs-container">
        {% for name, day in days %}
          {% if loop.first %}
            {% set classes = 'active-tab' %}
          {% else %}
            {% set classes = '' %}
          {% endif %}
          <div class="day-tab {{ classes }}" data-tab="{{ name }}">{{ day }}</div>
        {% endfor %}
      </div>
      {% for name, day in sessions %}
        {% if loop.first %}
          {% set classes = 'active-tab-content' %}
        {% else %}
          {% set classes = '' %}
        {% endif %}
        <div class="day-tab-content {{ classes }}" id="{{ name }}">
          <div class="day-schedule">
            {% if day is empty %}
              <div class="conference-opening">
                <div>
                  <p>{{ "You have nothing added for this day"|t }}</p>
                </div>
              </div>
            {% else %}
              {% for session in day %}
                {{ session }}
              {% endfor %}
            {% endif %}
          </div>
        </div>
      {% endfor %}
  </div>
</div>
