<div class="homepage-welcome homepage-spread-word">
    <div class="l-container">
        <div class="large-title-block">
            <h2>{{ "Propose a session or a workshop!"|t }}</h2>
            {{ "Tracks are a collection of sessions sorted by topic which spans in experience level from beginner to advanced. Sessions will range in time with both 25-minute and 50-minute options available. Workshops will range in time with both 90-minute and 180-minute options available."|t }}
        </div>
        <div class="homepage-spread-word--read-more">
            {{ cfp }}
        </div>
    </div>
</div>
<div class="homepage-spread-word">
    <div class="l-container">
        <div class="homepage-spread-word--intro large-title-block">
            <h2>{{ "Sign up to mentor or to contribute!"|t }}</h2>
            {{ "You want to join a contribution or already have experience contributing and want to help spread the best practices? You can sign up to contribute to a certain topic, but we are looking for volunteers to serve as mentors too. Mentors help new contributors set up their development environments (if needed), find tasks, and work on issues. "|t }}
        </div>
        <div class="homepage-spread-word--read-more">
            {{ contribution }}
        </div>
    </div>
</div>
