<div class="layout-container">

    <header class="header">

        <div class="header--logo">
            <a href="{{ path('<front>') }}" title="Homepage"></a>
        </div>
        {{ page.header }}

    </header>

    <main class="clearfix" role="main">
        <div class="homepage-parallax">
            <div class="homepage-parallax--item item-0"></div>
            <div class="homepage-parallax--item item-1"></div>
            <div class="homepage-parallax--item item-2"></div>
            <div class="homepage-parallax--item item-3"></div>
            <div class="homepage-parallax--item item-4"></div>
            <div class="homepage-parallax--item item-5"></div>
        </div>

        <div class="homepage-intro">
            <div class="l-container">
                <div class="homepage-intro--logos">
                    <div class="l-row">
                        <div class="l-col homepage-intro--logos--img">
                            <img src="{{ base_path ~ directory }}/images/logos/vampire-logo.png"
                                 alt="Drupal Camp Transilvania logo">
                        </div>
                        <div class="l-col homepage-intro--logos--text">
                            <img src="{{ base_path ~ directory }}/images/logos/intro-logo.png"
                                 alt="Drupal Camp Transilvania logo">
                        </div>
                    </div>
                </div>
                {{ page.intro }}
            </div>
        </div>
        {{ page.content }}

    </main>

    <footer class="footer">
        <div class="footer--background"></div>
        <div class="footer--sponsor">
            {{ page.footer }}
        </div>
    </footer>

</div>{# /.layout-container #}
