<div class="error-page-container">
    <img src="/{{ directory }}/images/backgrounds/404-page-bg.png" alt="background">
    <div class="image-text-wrapper">
        <img src="/{{ directory }}/images/backgrounds/error.png" alt="message-image">
        <div class="text-btn-wrapper">
            <p>{{ "Oops! Beware of vampires." }}</br>
                {{ "It seems you’re lost in Transylvania..." }}
            </p>
            <a href="/" type="button" class="button button-primary">{{ "RETURN HOME" }}</a>
        </div>
    </div>
</div>
