{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}
{% set classes = [
'node',
'node--type-' ~ node.bundle|clean_class,
node.isPromoted() ? 'node--promoted',
node.isSticky() ? 'node--sticky',
not node.isPublished() ? 'node--unpublished',
view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
'sponsors-intro'
] %}

<div{{ attributes.addClass(classes) }}>
    <img src="/{{ directory }}/images/backgrounds/small-header.png"
         alt="background">
</div>
<div class="article-section">
    <div class="l-container">
        <div class="title-container">
            <div class="large-title-block title">
                <h2>{{ "Buy tickets"|t }}</h2>
            </div>
            <div class="location-map">
                <div class="l-container">
                    <div id="location-map" class="location-map--container"><img
                                src="/{{ directory }}/images/commerce/ticket.png"
                                alt="drupal camp ticket"/></div>
                    <div>
                        <table border="1" cellspacing="1" cellpadding="1"
                               class="important-dates-table">
                            <tbody>
                            <tr>
                                {% if product.promotional_price.promotion|length > 0 %}
                                    <td>{{ product.promotional_price.price }} {{ product.promotional_price.currency }}</td>
                                    <td>{{ "Early Bird Price" }}</td>
                                                                    {% else %}
                                    <td>{{ product.variation_price }}</td>
                                    <td>{{ "Regular Price" }}</td>
                                {% endif %}
                            </tr>
                            </tbody>
                        </table>
                        {{ product.variations }}
                        {% if product.promotional_price.promotion|length > 0 %}
                            <p>
                                <b>{{ "Early bird ends on "|t }} {{ product.promotional_price.promotion.end_date[0].value }} {{ "!" }}</b>
                            </p>
                        {% else %}
                            <p><b>{{ "Sales ends on 2018-05-04!"|t }}</b></p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {{ content.body }}
    </div>
</div>
