<div class="homepage-spread-word">
    <div class="l-container">
        <div class="homepage-spread-word--intro large-title-block">
            <h2>{{ "Spread the word!"|t }}</h2>
            <p>{{ description }}</p>
        </div>
        <div class="homepage-spread-word--read-more">
            {{ link }}
        </div>
    </div>
</div>
<div class="homepage-twitter">
    <div class="l-container">
        <div class="homepage-twitter--links">
            <h3 class="homepage-twitter--links--action">{{ "Follow us on" }}</h3>
            <div class="homepage-twitter--links--logo-wrap">
                <div class="homepage-twitter--links--logo"></div>
            </div>
            <div class="homepage-twitter--links--link">
                <a href="https://twitter.com/hashtag/dctransylvania"
                   class="twitter-link">
                    <span class="twitter-prefix">&num;</span>
                    <span>{{ "DCTransylvania"|t }}</span>
                </a>
                <a href="https://twitter.com/dctransylvania"
                   class="twitter-link">
                    <span class="twitter-prefix">&commat;</span>
                    <span>{{ "DCTransylvania"|t }}</span>
                </a>
            </div>
        </div>
        <h3 class="homepage-twitter--action">{{ "...and spread the word!" }}</h3>
    </div>
</div>
