<div>
    <img src="/{{ directory }}/images/backgrounds/small-header.png" alt="background">
</div>

<article{{ attributes }}>
    <div class="my-profile">
        <div class="my-profile-info">
            <div class="my-profile-info--left">
                <div class="my-profile-info--basic">
                    <div class="my-profile-info--image">
                            <img src="/{{ directory }}/images/commerce/ticket.png" alt="acquia logo">
                    </div>
                    <div class="my-profile-info--username">
                    </div>
                </div>
                <div class="my-profile-info--tabs">
                    <a href="/session-tracks"
                       class="button">{{ "Session Tracks"|t }}</a>
                    <a href="/contribution"
                       class="button">{{ "Contribution"|t }}</a>
                    <a href="/birds-of-a-feather"
                       class="button">{{ "Birds of a Feather"|t }}</a>
                </div>
            </div>
            <div class="my-profile-info--right">
                <div class="my-profile-info--fullname">
                    <h2>{{ product.title }}</h2>
                </div>
                <h3 class="my-profile-info--role">
                    {% if product.promotional_price.promotion|length > 0 %}
                        {{ "Flash sale price"|t }} {{ product.promotional_price.price }} {{ product.promotional_price.currency }}
                    {% else %}
                        {{ "Flash sale price"|t }} {{ product.variation_price }}
                    {% endif %}
                </h3>
                <div class="my-profile-info--bio">
                    {% if product.promotional_price.promotion|length > 0 %}
{#                        <p>{{ "Regular sale ends on "|t }} {{ product.promotional_price.promotion.end_date[0].value }} {{ "!" }}</p>#}
                        <p>{{ "Flash sale ends on 2019-05-12"}}</p>
                    {% else %}
                        <p>{{ "Sales ends on 2019-06-10!"|t }}</p>
                    {% endif %}
                </div>
                <div class="my-profile-info--details commerce-add-to-cart">
                    {{ product.variations }}
                </div>
            </div>
        </div>
    </div>
</article>
