<div class="schedule-item break-item" duration="{{ content.session_duration }}" style="height: {{ content.field_height }}">
    <div class="schedule-item--detail-row">
        <div class="schedule-item--hours">{{ content.session_hours }}</div>
    </div>
    <div class="break-item--title">
        <p>{{ label }}</p>
    </div>
</div>
{{ content|without('session_hours', 'session_duration', 'field_height') }}
